language: node_js
node_js:
- '4'
branches:
  only:
    - develop
    - master
cache:
  directories:
  - node_modules
after_success:
- npm run coverage
notifications:
  slack:
    secure: TwObw6u8sWi4MUWN75wWu7Davay2UFFfZzPlx21ur41uHLBwh7BJQLNLFAJHgkzARLQJsDC3r2EBqRG3SCUOkV1ZPSzgWNEyAmcdnlPpTJLSD+D8y9oLz9ENMafrrli6hCndS7RpvaprZcB0T64JF+Z7kjBYvk56R1dfdVoB+xkCnK2Z83eLtPkzokq33ZAfsDIBaZC/OluGkvABVYnsUt7rStD5bBkM+1WAYo7G2jLo/cc6FjC2eAGMd+bEY3glz2oS8ZF1QeQfM5mEy/K9ZYsFC22e5DKLF2imb7UGp7FsvCwUVGSs/yHVjAOmN+o76soN5EYO7s5fJ7ZcQ5jiAAKC4yh9+KjkSYKHt7odYD50A42TpHPgyfIWhLACcAHqotUtmr0MZ32yKHQAEtovRoWWOOccOrN77570BTGfxgx7VI/gm9RR34TFpIT6WPLjvUIwj5Tw0GlPYqNP9dL6dMnZA0j5TC7/MSZr5M5vWgpKKKd3Lje0y+iRQ0z3WeHnEDUgfmORO2bz4bJ79+/Jibf0Vkvofwjw8dI5udXupHztsSY+fS6DsoE6WyTUQsKd4zLy4fEHqoU51H4tfIWoPWlYgdetNQoAFGBOKX28z97bswBXlSXG9qN5/9Ci58Yhd0XzS5rgQ78zVXm6SeV47KqSeNZy0en/xUq+aLSQI/g=
